<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Credit</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	<div class="bg-dark">
	<ul class="nav grey lighten-4 py-2">
	  <li class="nav-item">
	    <a class="nav-link " th:href="@{/}" id="ManaCustomer" style="color:white"><i class="fa fa-home">Home</i></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link " th:href="@{/customers/show-all-customer}" id="ManaCustomer" style="color:white">Customer Management</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" th:href="@{/users/show-all-user}" id="ManaUser" style="color:white">User Management</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" th:href="@{/credits/show-all-credit}" id="CreditAccount" style="color:white">Credit Account Management</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" th:href="@{/deposits/show-all-deposit}" id="DepositAccount"style="color:white">Deposit Account Management</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" th:href="@{/chuyenkhoans/show-all-giao-dich}" id="DepositAccount" style="color:white">Deal Management</a>
	  </li>
	</ul>
	</div>
 	
 
	<form class="border border-light p-5" style="margin: auto; width: 50%; height: 50%;" method="Post" th:action="@{/deposits/edit-deposit}" th:object="${depositById}">
		<h1>Edit Deposit Account</h1>
      <input class="form-control m-1" type="hidden" name="put_id" th:value = "${depositById.id}"/>
      
      <label for="idAccount">ID account: </label>
      <input class="form-control m-1" type="text" name="idAccount" th:value = "${depositById.idAccount}"/>

      <label for="typeAccount">Type Account: </label>
      <input class="form-control m-1" type="text" name = "typeAccount" th:value="${depositById.typeAccount}"/>

      <label for="balance">Balance: </label>
      <input class="form-control m-1" type="text" name = "balance" th:value="${depositById.balance}"/>
 
      <label for="interestRate">Interest Rate: </label>
      <input class="form-control m-1" type="text" name = "interestRate" th:value="${depositById.interestRate}"/>

      <label for="balanceMin">Balance Min </label>
      <input class="form-control m-1" type="text" name = "balanceMin" th:value="${depositById.balanceMin}"/>

      <label for="idCustomer">ID Customer: </label>
      <input class="form-control m-1" type="text" name = "idCustomer" th:value="${depositById.customer.id}"/>

      <label for="idUser">ID User: </label>
      <input class="form-control m-1" type="text" name = "idUser" th:value="${depositById.user.id}"/>

     <div class="col text-center mt-2">
          <input class="btn btn-primary " type="submit" value="Edit"/>
      </div>
    </form>
</body>
</html>